- if @current_user.present?
  =breadcrumb_tag do
    %li.active
      = link_to 'Комната '+@my_room.name, @my_room
    %li
      = t('headers.my_racks.new')
    %li
      Администрирование

.page-header
  %h1= t('headers.my_racks.new')

= render 'form'
